build
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
.svn
CVS
*.xcuserstate
*.xcbkptlist
 
.DS_Store
*~.nib
*.swp
DerivedData
.history
org.eclipse.jdt.core
testproject/build
testproject/build/testproject.build/Debug-iphonesimulator/testproject.build/testproject-project-headers.hmap
testproject/build/testproject.build/Debug-iphonesimulator/testproject.build/testproject.hmap
